*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.quicksand-<uniquifier> {
font-family: "Quicksand", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
} */

header {
    background-image: url(../DD/home_bg.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    z-index: 999;
}
    header::before {
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}
.logo{
    height: 80px;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    padding-right: 50px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color:chocolate;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
}
.Section1{
    padding-top: 100px;
    text-align: center;
}
span{
    color: orange;
}
.Section1 h1{
    color: white;
    font-family:'Times New Roman', Times, serif;
}
.Section1 p{
    color: white;
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
}
.Section1 button{
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: 1px solid orange;
    cursor: pointer;
    border-radius: 10px;
}
.Section1 button:hover{
    background-color: orange;
    color: black;
    transition: background-color 0.3s linear, color 0.3s linear;
}
section{
    padding: 50px;
    background-color: whitesmoke;
}
.content{
    text-align: center;
    line-height: 1.8;
    font-family: "Quicksand", sans-serif;
}
.container{
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
}
.text{
    margin-top: 20px;
}
.text button{
    letter-spacing: 1px;
    background-color: orangered;
    color: white;
    padding: 10px 20px;
    border: 2px solid orangered;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 100px;    
}
.text button:hover{
    background-color: transparent;
    color: orangered;
    border: 2px solid orangered;
}






/* .parent{
    background-color: green;
    padding: 10px;
    display: grid;
    width: 500px;
    grid-template-columns: 50% 50%;
    grid-template-columns: auto 1fr 1fr;
    grid-template-columns: repeat(4,100px);
    grid-template-rows:50px 50px;
    column-gap: 20px;
}
.parent > div{
    background-color: gold;
    text-align: center;
} */




